.dashboard {
    position: absolute;
    top: 20px;
    left: 20px;
    display: inline-block;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    border-radius: 10px;
    background-color: var(--b);
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
    background-color: var(--bl);
}

.dashboard .dashboard-title {
    position: absolute;
    top: 0px;
    left: 0px;
    display: inline-block;
    width: 100%;
    height: 48px;
    background-color: var(--b);
    z-index: 100;
}

.dashboard .dashboard-title .nf {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
    color: var(--bt);
    font-size: 20px;
}

.dashboard .dashboard-title .server-name {
    position: absolute;
    top: 50%;
    left: 40px;
    transform: translate(0, -50%);
    font-family: "Courier New", Courier, monospace;
}

.dashboard .dashboard-title .server-name .online-indicator {
    position: absolute;
    left: calc(100% + 10px);
    top: 45%;
    transform: translate(0, -50%);
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    box-sizing: border-box;
}
.dashboard .dashboard-title .server-name .online-indicator.online {
    background-color: #6ac222;
    border: 2px solid #60b11f;
}
.dashboard .dashboard-title .server-name .online-indicator.offline {
    background-color: #d42020;
    border: 2px solid #c01c1c;
}

.dashboard .dashboard-title .node-settings {
    position: absolute;
    top: 4px;
    right: 4px;
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: var(--b);
    cursor: pointer;
    transition: background-color 0.2s;
}
.dashboard .dashboard-title .node-settings:hover {
    background-color: var(--bd);
}
.dashboard .dashboard-title .node-settings .nf {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--bt);
}

.dashboard .no-nodes {
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: "Courier New", Courier, monospace;
    transform: translate(-50%, -50%);
    font-size: 48px;
    opacity: 0.15;
    color: var(--bt);
}

.dashboard .dash-content {
    position: absolute;
    top: 48px;
    left: 0px;
    display: inline-block;
    width: 100%;
    height: calc(100% - 96px);
    overflow: scroll;
}
@media only screen and (min-width: 1300px) {
    .dashboard .dash-content .graph {
        display: inline-block;
        width: calc(25% - 10px);
        height: fit-content;
        overflow: hidden;
        position: absolute;
        top: 10px;
        padding: 5px;
        background-color: var(--b);
        border-radius: 5px;
        box-sizing: border-box;
    }
    .dashboard .dash-content .memory-graph,
    .dashboard .dash-content .used-graph {
        left: 10px;
    }
    .dashboard .dash-content .cpu-graph {
        left: calc(25% + 10px);
    }
    .dashboard .dash-content .disk-graph {
        left: calc(50% + 10px);
    }
    .dashboard .dash-content .resources.graph {
        top: unset;
        bottom: 10px;
        left: 10px;
        width: calc(75% - 10px);
        height: calc(100% - 25vw - 10px);
    }
    .dashboard .dash-content .services.graph {
        left: calc(75% + 10px);
        width: calc(25% - 20px);
        height: calc(100% - 20px);
    }
}
@media only screen and (max-width: 1299px) {
    .dashboard .dash-content .graph {
        display: inline-block;
        width: calc(100% - 20px);
        height: fit-content;
        overflow: hidden;
        position: relative;
        margin-top: 10px;
        margin-left: 10px;
        padding: 5px;
        background-color: var(--b);
        border-radius: 5px;
        box-sizing: border-box;
    }
}
.dashboard .dash-content .disk-graph .percent,
.dashboard .dash-content .used-graph .percent {
    position: absolute;
    top: calc(50% + 16px);
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    font-weight: 300;
    opacity: 0.7;
}

.dashboard .dash-content .resources {
    background-color: var(--bl);
    min-height: 32px;
}
.dashboard .dash-content .resources .resource-title {
    display: inline-block;
    height: 32px;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: var(--b);
}
.dashboard .dash-content .resources .resource-title .nf {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translate(0, -50%);
    color: var(--bt);
    font-size: 20px;
}
.dashboard .dash-content .resources .resource-title .title-text {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translate(0, -50%);
}
.dashboard .dash-content .resources .items {
    position: relative;
    margin-top: 32px;
    display: inline-block;
    width: 100%;
    height: fit-content;
    padding: 5px;
}
.dashboard .dash-content .resources .items .res-item {
    position: relative;
    margin-right: 5px;
    margin-bottom: 5px;
    display: inline-block;
    height: 32px;
    width: fit-content;
    max-width: calc(100% - 10px);
    padding: 5px;
    padding-left: 26px;
    padding-right: 26px;
    border-radius: 5px;
    background-color: var(--b);
    padding-top: 6px;
    box-sizing: border-box;
}
.dashboard .dash-content .resources .items .res-item .res-name {
    display: inline-block;
    height: fit-content;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.dashboard .dash-content .resources .items .res-item .nf {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translate(0, -50%);
    color: var(--bt);
    font-size: 16px;
}
.dashboard .dash-content .resources .items .res-item .running-indicator {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translate(0, -50%);
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    box-sizing: border-box;
}
.dashboard .dash-content .resources .items .res-item .running-indicator.online {
    background-color: #6ac222;
    border: 2px solid #60b11f;
}
.dashboard
    .dash-content
    .resources
    .items
    .res-item
    .running-indicator.offline {
    background-color: #d42020;
    border: 2px solid #c01c1c;
}

.dashboard .dash-content .services {
    background-color: var(--bl);
    min-height: 32px;
}
.dashboard .dash-content .services .service-title {
    display: inline-block;
    height: 32px;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: var(--b);
}
.dashboard .dash-content .services .service-title .nf {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translate(0, -50%);
    color: var(--bt);
    font-size: 20px;
}
.dashboard .dash-content .services .service-title .title-text {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translate(0, -50%);
}

.dashboard .view-selector {
    position: absolute;
    left: 0px;
    bottom: 0px;
    background-color: var(--b);
    display: inline-block;
    width: 100%;
    height: 48px;
    border-top: 1px solid var(--bd);
    white-space: nowrap;
    overflow-x: scroll;
}
.dashboard .view-selector .server-item {
    position: relative;
    margin: 0px;
    border-right: 1px solid var(--bd);
    display: inline-block;
    height: 100%;
    width: fit-content;
    box-sizing: border-box;
    padding: 14px;
    padding-left: 36px;
    padding-right: 36px;
    font-family: "Courier New", Courier, monospace;
    font-size: 20px;
    opacity: 0.6;
    cursor: pointer;
    transition: opacity 0.2s;
}
.dashboard .view-selector .server-item .nf {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0, -50%);
    font-size: 16px;
    color: var(--bt);
}
.dashboard .view-selector .server-item.active,
.dashboard .view-selector .server-item:hover {
    opacity: 1;
}
.dashboard .view-selector .server-item .online-indicator {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translate(0, -50%);
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    box-sizing: border-box;
}
.dashboard .view-selector .server-item .online-indicator.online {
    background-color: #6ac222;
    border: 2px solid #60b11f;
}
.dashboard .view-selector .server-item .online-indicator.offline {
    background-color: #d42020;
    border: 2px solid #c01c1c;
}
