@media only screen and (min-width: 1300px) {
    .dashboard .dash-content .config.graph {
        top: unset;
        bottom: 10px;
        left: 10px;
        width: calc(25% - 10px);
        height: calc(100% - 25vw - 10px);
        padding: 0px;
    }
    .dashboard .dash-content .config .content {
        position: relative;
        margin-top: 32px;
        display: inline-block;
        width: 100%;
        height: calc(100% - 32px);
        padding: 5px;
        overflow: scroll;
        background-color: var(--bl);
        box-sizing: border-box;
    }
    .dashboard .dash-content .file-viewer {
        top: 10px;
        left: calc(25% + 10px);
        width: calc(75% - 20px);
        height: calc(100% - 20px);
        padding: 0px;
        background-color: var(--bl);
    }
}
@media only screen and (max-width: 1299px) {
    .dashboard .dash-content .config.graph {
        position: relative;
        height: fit-content;
        padding: 0px;
    }
    .dashboard .dash-content .config .content {
        position: relative;
        margin-top: 32px;
        display: inline-block;
        width: 100%;
        height: fit-content;
        padding: 5px;
        overflow: scroll;
        background-color: var(--bl);
        box-sizing: border-box;
    }
    .dashboard .dash-content .file-viewer {
        height: 300px;
        padding: 0px;
        background-color: var(--bl);
        margin-bottom: 5px;
    }
}

.dashboard .dash-content .config .config-title {
    display: inline-block;
    height: 32px;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: var(--b);
    z-index: 100;
}
.dashboard .dash-content .config .config-title .nf {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translate(0, -50%);
    color: var(--bt);
    font-size: 20px;
}
.dashboard .dash-content .config .config-title .title-text {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translate(0, -50%);
}

.dashboard .dash-content .config .content .config-item {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 32px;
    margin-bottom: 5px;
    background-color: var(--b);
    border-radius: 5px;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
}

.dashboard .dash-content .config .content .config-item .key {
    position: relative;
    display: inline-block;
    width: fit-content;
    height: 32px;
    padding-top: 6px;
    padding-left: 36px;
    padding-right: 10px;
    background-color: var(--bd);
    font-weight: 500;
    box-sizing: border-box;
    vertical-align: top;
}
.dashboard .dash-content .config .content .config-item .nf {
    position: absolute;
    top: 50%;
    left: 10px;
    font-size: 16px;
    color: var(--bt);
    transform: translate(0, -50%);
    z-index: 50;
}
.dashboard .dash-content .config .content .config-item .value {
    position: relative;
    display: inline-block;
    width: calc(100% - 100px);
    height: 32px;
    padding-top: 6px;
    padding-left: 10px;
    font-family: "Courier New", Courier, monospace;
    text-overflow: ellipsis;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
}

/* File Viewer */

.dashboard .dash-content .file-viewer .file-viewer-title {
    display: inline-block;
    height: 32px;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: var(--b);
    z-index: 100;
}
.dashboard .dash-content .file-viewer .file-viewer-title .nf {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translate(0, -50%);
    color: var(--bt);
    font-size: 20px;
}
.dashboard .dash-content .file-viewer .file-viewer-title .title-text {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translate(0, -50%);
}

.dashboard .dash-content .file-viewer .file-tree {
    position: absolute;
    top: 32px;
    left: 0px;
    display: inline-block;
    width: calc(100% - 20px);
    height: calc(100% - 32px);
    padding: 10px;
    overflow: auto;
}
.dashboard .dash-content .file-viewer .file-tree .file-node {
    position: relative;
    margin-bottom: 0px;
    overflow: hidden;
    display: inline-block;
    width: 100%;
}
.dashboard .dash-content .file-viewer .file-tree .file-node .nf {
    position: absolute;
    top: 7px;
    left: 10px;
    color: var(--bt);
    font-size: 16px;
    z-index: 50;
}
.dashboard .dash-content .file-viewer .file-tree .file-node .name {
    position: relative;
    display: inline-block;
    padding-left: 36px;
    height: 32px;
    width: 100%;
    box-sizing: border-box;
    padding-top: 7px;
    border-radius: 5px;
}
.dashboard .dash-content .file-viewer .file-tree .file-node.directory > .name {
    cursor: pointer;
    transition: background-color 0.2s;
}
.dashboard
    .dash-content
    .file-viewer
    .file-tree
    .file-node.directory
    > .name:hover {
    background-color: var(--bd);
}

.dashboard
    .dash-content
    .file-viewer
    .file-tree
    .file-node.directory
    > .node-children.expanded {
    display: inline-block;
    height: fit-content;
    width: calc(100% - 20px);
    margin-left: 20px;
}
.dashboard
    .dash-content
    .file-viewer
    .file-tree
    .file-node.directory
    > .node-children {
    display: none;
}
